.card {
  width: 220px;
  position: relative;
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  padding: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2 ease-in-out;

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  &:hover {
    // transform: translateY(-5px);
    background: #ffffff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    border-radius: 40px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-weight: 500;
    font-size: 11px;
    color: #bdbdbd;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }
}

.button {
  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
