@use "sass:color";

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.drawer {
  position: fixed;
  width: 420px;
  right: 0;
  height: 100%;
  padding: 30px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  h2 {
    margin: 0;
  }
}

.cartItems {
  flex: 1;
  margin-bottom: 40px;
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }

      span {
        font-weight: 400;
      }
      b {
        font-weight: 600;
      }
    }
  }
}

.placeOrder {
  width: 100%;
  padding: 18px 0px;
  border-radius: 18px;
  border: none;
  background-color: #9dd458;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: color.adjust(#9dd458, $lightness: 5%);
  }

  &:active {
    background: color.adjust(#9dd458, $lightness: -5%);
  }
  &:hover svg {
    transform: translateX(8px);
  }

  svg {
    transition: transform 0.15s ease-in-out;
    position: absolute;
    top: 22px;
    right: 33px;
  }
}

.cartEmpty {
  text-align: center;

  h2 {
    font-weight: 600;
  }
  p {
    font-weight: 400;
    max-width: 285px;
    line-height: 24px;
  }
  button {
    position: relative;
    background: #9dd458;
    border-radius: 18px;
    padding: 18px;
    border: none;
    width: 245px;
    height: 55px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;

    &:hover img {
      transform: translateX(-5px);
    }

    img {
      position: absolute;
      left: 25px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}
