.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;

  .itemDesc {
    flex: 1;
  }

  p {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    max-width: 150px;
  }
  button {
    border: none;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
