* {
  font-family: "Inter", system-ui;
}

html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  margin: 0;

  background-color: #e7f6ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  h1 {
    margin: 0;
  }
}

.cards {
  gap: 40px;
}
