* {
  font-family: "Inter", system-ui;
}

body {
  margin: 0;

  background-color: #e7f6ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;

  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.cards {
  gap: 40px;
}

.card {
  width: 220px;

  border-radius: 40px;
  border: 1px solid #f3f3f3;
  padding: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2 ease-in-out;

  // margin-right: 30px;

  &:hover {
    transform: translateY(-5px);
    background: #ffffff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
    border-radius: 40px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  span {
    font-weight: 500;
    font-size: 11px;
    color: #bdbdbd;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }
}

.button {
  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    padding: 13px;
    border: 0;
    font-size: 16px;
    width: 200px;
  }
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.drawer {
  position: fixed;
  width: 420px;
  right: 0;
  height: 100%;
  padding: 30px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  h2 {
    margin: 0;
  }
}

.cartItems {
  flex: 1;
  gap: 20px;
}
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  p {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    max-width: 150px;
  }
  button {
    border: none;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.itemDesc {
  flex: 1;
}

.dashed {
  border-bottom: 1px dashed black;
  flex: 1;
}

.cartTotalBlock {
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }

  span {
    font-weight: 400;
  }
  b {
    font-weight: 600;
  }
}
